# Archivos de compilación de C
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.elf
*.map

# Directorios de compilación
/build/
/bin/
/lib/
/obj/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.ipynb_checkpoints/

# Archivos de entorno virtual
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Archivos de Jupyter Notebook
*.ipynb_checkpoints/

# Archivos de depuración
*.d
*.gcda
*.gcno
*.gcov

# Archivos de IDEs y editores de código
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.log

# Archivos de CMake y Make
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Archivos del sistema
.DS_Store
Thumbs.db
